body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.question-box {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#submitBtn, #nextBtn {
    display: none;
}

.result-box {
    display: none;
}

#result {
    font-size: 18px;
    margin-bottom: 10px;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.search-container {
    margin: auto;
    margin-top:20px;
    display: flex;
    align-items: center;
    background-color: #282828;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
}

    .search-container input[type="text"] {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 16px;
        padding: 8px;
        margin-right: 10px;
    }

    .search-container button {
        background-color: #1db954;
        border: none;
        color: white;
        padding: 8px 16px;
        font-size: 16px;
        border-radius: 20px;
        cursor: pointer;
        margin-left: 10px;
        transition: background-color 0.3s ease;
    }

#OutPut{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top:20px;
    text-align:center;
}