body {

}



.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
  }

@media screen and (max-width: 600px) {

    #dynamic-title {
        font-size: 45px;
        margin-top: 115px;
    }

    #HuggingTitle{
      font-size: 40px;

    }
}


#dynamic-title {
  font-size: 70px
}


#HuggingTitle{
  margin-bottom: -50px;
  justify-content: center;
  text-align: center;
  font-size: 80px;
  color:white;
  display: flex;
  align-items: center;
}



#KnowImg{
  width: 100px;
  height: 100px;
}


@media screen and (max-width: 600px) {

  #KnowImg{
    width: 70px;
    height: 70px;
  }


  #KnowTitle{
  width: 70%;
  font-size: 40px;

  }


    #dynamic-title {
        font-size: 45px;
        margin-top: 115px;
    }
}


#HuggingFace {
    margin-top: 30px;
}

#OutPut {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.Answer{
    margin:auto;
    margin-top:10px;
    margin-bottom:50px;
    height:50px;
    width:500px;
    border: 2px solid white;
    border-radius:8px;
}
  


@media only screen and (max-width: 600px) {
  .Answer{
    width: 95%;
  }
}
