.SearchDiv{
  margin-top:10px;
}



.search-container {
    margin:auto;
    display: flex;
    align-items: center;
    background-color: #282828;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 500px;
  }

  .search-container input[type="text"] {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 8px;
    margin-right: 10px;
  }
  

  .search-container select {
    position: relative;
    z-index: 2;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    padding: 8px;
    cursor: pointer;
  }

  .search-container select::-ms-expand {
    display: none;
  }

  .search-container select option {
    background-color: #282828;
  }

  .search-container button {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px; 
    transition: background-color 0.3s ease;
  }

  .search-container button:hover {
    background-color: #1ed760;
  }


  #WrapHaggingFace{

  }
  

  @media only screen and (max-width: 600px) {
    .search-container {
      width: 95%;
      margin-top: 100px;
    }

    #searchButton{
      position: absolute;
      right: 24px;
    }
    #searchOptions{
      position: absolute;
      right: 88px;
      width: 100px;
    }

    .card-container.artistsCardContainers{
      margin-top: 100px;

    }

    .search-container input[type="text"],
    .search-container select,
    .search-container button {
      font-size: 14px;
      padding: 6px;
      margin-right: 6px
    }
  }

  .card-container {
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(25% - 20px); /* Four cards in a row */
    background-color: #282828; /* Spotify background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }

  .card h3 {
    font-size: 24px; /* Increased font size for song name */
    margin-top: 0;
    margin-bottom: 10px;
  }

  .card p {
    margin: 0;
    color: #b3b3b3; /* Lighter text color for other details */
  }

  @media only screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }


  .lyrics-box {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 20%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 16px;
    overflow: auto;
  }

  .card:hover .lyrics-box {
    display: block; /* Show lyrics box on hover */
  }

.artistImgs {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#YouTubeButton{
  background-color: #b91d1d;

}

#FavoriteButton{
  background-color: #581480;
}

#LastFmButton{
  background-color: #581480;
}

.AllButtons i {
  margin-right: 8px;
}

.PlayIconDiv{
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  margin:auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

