.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  background-color: #282828;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  float:left;
}
.logo img{
width: 150px;
height: 150px;
}

.menu-items {
  margin: auto;
  list-style-type: none;
  padding: 0;
}

.menu-items li:hover {
  color: #1DB954; 
}

.menu-items li {
  display: inline-block; 
  margin: 0 10px;
  cursor: pointer;
}

/* Styles for the hamburger icon */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.user {
        margin-right:20px;
        text-align:center;

}

.AllButtons {
    background-color: #1db954;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}



    @media screen and (max-width: 768px) {
        .user {
            display: none;
            
        }

    }

  
.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

@media screen and (max-width: 768px){
    .menu a:hover {
        color: #1DB954;
    }
}


@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 10px;
        width: 100%;
        top: 180px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    

        .menu li {
            padding: 5px;
        }

        .menu a {
            color: #fff;
            text-decoration: none;
        }

        .menu.show-menu {
            display: flex;
        }

    .menu-icon {
        position:relative;
        margin-right:auto;
        margin-left:20px;
        display: block;
/*        margin-left: 100px;
        margin-bottom: 100px;*/
}

    .menu menu-items show-menu{
        margin-top:200px;
    }
}
