body {
    background-color: #191414;
}

p{
    color:white;
}

.AllButtons{
    background-color: #1db954;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

a{
    color:white;
}

a:hover {
    color:#1db954;

}